<div class="col-md-6">
  <h2> Enderecos</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Escola</th>
        <th>Telefone</th>
        <th>CEP</th>
        <th>Series</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let escola of escolas">
        <td class="hidden">{{escola.id}}</td>
        <td>{{escola.nome}}</td>
        <td>{{escola.telefone}}</td>
        <td>{{escola.endereco.cep}}</td>
        <td>{{escola.series}}</td>
      </tr>
    </tbody>
  </table>
</div>