<div class="container-fluid">
  <div class="col-md-offset-1">
    <h1>
      Welcome to CADEduc Client!
    </h1>
  </div>
  <a routerLink="/"> Home </a>
  <br/>
  <a routerLink="/end"> Listar Endereços</a>
  <br/>
  <a routerLink="/muni"> Listar Municipios</a>
  <br/>
  <a routerLink="/esc"> Listar Escolas</a>
  <br/>
  <a routerLink="/etap"> Listar Etapas de Ensino</a>
  <br/>
  <a routerLink="/ser"> Listar Séries</a>
  <br/>
  <a routerLink="/map"> Mapa</a>
  <br/>
  <router-outlet></router-outlet>

  <h1 align="center">CADEduc</h1>

</div>